@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100..900&display=swap');
@import "tailwindcss";


/* Theme - apply style to specific classes */
@theme {
    --font-urbanist: 'Urbanist', sans-serif;
    --color-primary: #5EB9F0;
    --color-secondary: #343F52;
    --color-accent: #60697B;

    --color-blue-light: #E5F4FD;
    --color-white: #fff;
    --color-offwhite: #FEFEFE;
}

body {
    font-family: var(--font-urbanist);
    background-color: var(--color-bg);
    scroll-behavior: smooth;
}

/* Breakpoints 
    sm - min 640px
    md - min 768px
    lg - min 1024px
    xl - min 1280px
*/

/* Base - apply style gloablly to all elements like <h1>, <p> */
@layer base {
    h1 {
        @apply text-4xl sm:text-5xl md:text-6xl leading-10 md:leading-12 lg:leading-14 xl:leading-16 text-secondary font-semibold;
    }

    h2 {
        @apply text-2xl sm:text-3xl md:text-4xl text-secondary font-semibold;
    }

    h3 {
        @apply text-lg sm:text-xl  text-secondary font-semibold;
    }

    h4 {
        @apply text-xl text-secondary font-semibold;
    }

    p {
        @apply text-sm sm:text-base md:text-lg leading-4 sm:leading-5 md:leading-6 lg:leading-7 xl:leading-8 text-accent font-medium;
    }

}

/* Components - apply style to specific elements and can be used as reusable components like card, button, etc */

/* Utilities - apply style to specific classes like margin, padding, typography, colors, etc */
@layer utilities {
    .container {
        @apply max-w-7xl mx-auto px-4;
    }

    .btn {
        @apply px-3 py-1 md:px-4 md:py-2 xl:px-6 xl:py-3 text-black text-lg border-2 border-black hover:bg-black hover:text-white transition cursor-pointer text-center w-fit;
    }

    .primary-button {
        @apply bg-primary text-white rounded-full border-2 border-primary hover:text-primary hover:bg-transparent;
    }


    .background-gradient {
        background-image: linear-gradient(to bottom, #F0F8FE 0%, rgba(240, 248, 254, 0) 100%);
    }
}